.list-skills {
  .skills-sub-title {
    margin-bottom: 14px;
    font-size: 24px;
    font-weight: 600;
    color: #00A78E;
    letter-spacing: 4px;
  }
  .skills-title {
    font-size: 36px;
    line-height: 1.1;
    font-weight: 700;
    margin-bottom: 5px;
  }

  .service {

    .service-title {
      margin-bottom: 0.5rem;
    }
    .service-sub-title {
      margin-bottom: 1rem;
    }

  }

}