.footer {
  text-align: center;
  color: var(--toolbar-color);
  background: var(--navbar-color);
  border-top: 1px solid var(--light-border-color);
  font-family: var(--heading-font-family);
  padding: 3rem 0;
}

